/* src/styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.line1 {
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: black;
  top: 25%;
  left: 25%;
  z-index: 0;
}

.line2 {
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: black;
  top: 55%;
  left: 25%;
  transform: rotate(-45deg);
  z-index: 0;
}

.line3 {
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: rgb(211, 11, 11);
  top: 55%;
  left: 25%;
  transform: rotate(45deg);
  z-index: 0;
}

@media (min-width: 640px) {
  .line1,
  .line2,
  .line3 {
      width: 40%;
      left: 10%;
  }
}

@media (min-width: 768px) {
  .line1,
  .line2,
  .line3 {
      width: 30%;
      left: 35%;
  }
}


body{
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.clip-pentagon-container {
  position: relative;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}



/* Custom CSS for Popup */


.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  backdrop-filter: blur(5px); /* Adjust the blur strength as needed */
}
